<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   xxy_list.plist
   GW_TEST22

   Created by gw on 2018/4/25.
   Copyright (c) 2018年 gw. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>face_id</key>
            <string>001</string>
            <key>face_name</key>
            <string>xxy001</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>002</string>
            <key>face_name</key>
            <string>xxy002</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>003</string>
            <key>face_name</key>
            <string>xxy003</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>004</string>
            <key>face_name</key>
            <string>xxy004</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>005</string>
            <key>face_name</key>
            <string>xxy005</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>006</string>
            <key>face_name</key>
            <string>xxy006</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>007</string>
            <key>face_name</key>
            <string>xxy007</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>008</string>
            <key>face_name</key>
            <string>xxy008</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>009</string>
            <key>face_name</key>
            <string>xxy009</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>010</string>
            <key>face_name</key>
            <string>xxy010</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>011</string>
            <key>face_name</key>
            <string>xxy011</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>012</string>
            <key>face_name</key>
            <string>xxy012</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>013</string>
            <key>face_name</key>
            <string>xxy013</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>014</string>
            <key>face_name</key>
            <string>xxy014</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>015</string>
            <key>face_name</key>
            <string>xxy015</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>016</string>
            <key>face_name</key>
            <string>xxy016</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>017</string>
            <key>face_name</key>
            <string>xxy017</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>018</string>
            <key>face_name</key>
            <string>xxy018</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>019</string>
            <key>face_name</key>
            <string>xxy019</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>020</string>
            <key>face_name</key>
            <string>xxy020</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>021</string>
            <key>face_name</key>
            <string>xxy021</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>022</string>
            <key>face_name</key>
            <string>xxy022</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>023</string>
            <key>face_name</key>
            <string>xxy023</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>024</string>
            <key>face_name</key>
            <string>xxy024</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>025</string>
            <key>face_name</key>
            <string>xxy025</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>026</string>
            <key>face_name</key>
            <string>xxy026</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>027</string>
            <key>face_name</key>
            <string>xxy027</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>028</string>
            <key>face_name</key>
            <string>xxy028</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>029</string>
            <key>face_name</key>
            <string>xxy029</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>030</string>
            <key>face_name</key>
            <string>xxy030</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>031</string>
            <key>face_name</key>
            <string>xxy031</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>032</string>
            <key>face_name</key>
            <string>xxy032</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>033</string>
            <key>face_name</key>
            <string>xxy033</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>034</string>
            <key>face_name</key>
            <string>xxy034</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>035</string>
            <key>face_name</key>
            <string>xxy035</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>036</string>
            <key>face_name</key>
            <string>xxy036</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>037</string>
            <key>face_name</key>
            <string>xxy037</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>038</string>
            <key>face_name</key>
            <string>xxy038</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>039</string>
            <key>face_name</key>
            <string>xxy039</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>040</string>
            <key>face_name</key>
            <string>xxy040</string>
        </dict>
    </array>
</plist>
