<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>face_id</key>
            <string>001</string>
            <key>face_name</key>
            <string>lt001</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>002</string>
            <key>face_name</key>
            <string>lt002</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>003</string>
            <key>face_name</key>
            <string>lt003</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>004</string>
            <key>face_name</key>
            <string>lt004</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>005</string>
            <key>face_name</key>
            <string>lt005</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>006</string>
            <key>face_name</key>
            <string>lt006</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>007</string>
            <key>face_name</key>
            <string>lt007</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>008</string>
            <key>face_name</key>
            <string>lt008</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>009</string>
            <key>face_name</key>
            <string>lt009</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>010</string>
            <key>face_name</key>
            <string>lt010</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>011</string>
            <key>face_name</key>
            <string>lt011</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>012</string>
            <key>face_name</key>
            <string>lt012</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>013</string>
            <key>face_name</key>
            <string>lt013</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>014</string>
            <key>face_name</key>
            <string>lt014</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>015</string>
            <key>face_name</key>
            <string>lt015</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>016</string>
            <key>face_name</key>
            <string>lt016</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>017</string>
            <key>face_name</key>
            <string>lt017</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>018</string>
            <key>face_name</key>
            <string>lt018</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>019</string>
            <key>face_name</key>
            <string>lt019</string>
        </dict>
        <dict>
            <key>face_id</key>
            <string>020</string>
            <key>face_name</key>
            <string>lt020</string>
        </dict>
    </array>
</plist>
